@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: aquamarine;
}

.logo {
  margin: 24px;
  background-color: black;
  cursor: pointer;
}

li,
a,
.cta_button {
  /* (horizontally): */
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  /* (vertically): */
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 66px;
}

.nav_links {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 100%;
  align-items: center;
}

.nav_links li {
  display: flex;
  justify-content: center;
  padding: 0px 16px;
  height: 100%;
  background-color: none;
  align-items: center;
}

/* .nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: blue;
} */

.cta_button {
  color: white;
  padding: 8px 16px;
  margin: 24px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
}

.cta_button:hover {
  background-color: rgba(0, 136, 169, 0.5);
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.maintitle {
  font-size: 64px;
  line-height: 140%;
  padding-bottom: 16px;
}

.smalltitle {
  font-size: 18px;
  color: black;
}

.link_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 4px 8px;
  margin-left: 72p;
  border: none;
  background-color: aquamarine;
}

.link_button_icon {
  margin-right: 8px;
  padding-top: 1px;
}

.layout {
  padding: 72px;
  margin-top: 72px;
}

.main_content {
  display: flex;
  align-items: center;
  background-color: red;
}

.content_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  background-color: blue;
}
